<main id="container">   

    <h1>Produtos cadastrados</h1>


    <div class="products">
        {{#each products}}
            <div class="contents">
                <h2>{{this.product}}</h2>
                <p> Quantidade disponível: {{this.amount}}</p>
                <p>categoria: {{this.category}}</p>
                <p>Actualizado ultima vez em {{this.updated_at}} por {{this.user}}</p>
            </div>

        {{/each}}
    </div>
    

</main>